nav{
    background-color: var(--white);
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    width: 16.6%;
    z-index: 2000;
    /* min-width:130px; */
}

nav ul {
    list-style: none;
    gap: 30px;
    padding:0;
    margin-top: 20px;
    
}

.my-photo{
    width:75%;
    height:width;
    object-fit: cover;
    border-radius: 50%;
    
}

.btn-cus{
    
    text-decoration: none;
    color: var(--black);
    background-color: var(--blue);
    font-size: larger;
    width:80%;
    padding: 4%;
    border-radius: 8px;
    box-shadow: 0px 3px 1px var(--shadow);
    transition: 0.1s;
    cursor: pointer;
    
    /* position: relative;
    left: calc(50% - 50px); */
}

.btn-cus:hover{
   box-shadow: none;
   transform:translateY(3px);
}

.btn-cus:active{
    box-shadow: inset 0px 4px 3px var(--shadow);
    
}

.navlink-cus{
    color:var(--black)
}


