.social-cus {
    color: var(--black);
    background-color: var(--white);
    border-radius: 50%;
    padding: 5px;
    width: 100px;
    height: 100px;

    transition: 0.3s;


    cursor: pointer;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: relative;



}


.social-cus:hover {
    transform: scale(1.2);

}

.social-cus:active {
    transform: scale(1.4);

}

.social-media-cus {
    height: 50vh;
    text-decoration: none;


}



#icon-label-linkedin {
    opacity: 0;
    color: var(--black);
    font-family: Reactfont;
    font-size: larger;
    position: absolute;
    
    transition: 0.5s;
    /* animation: labelAnimation 0.3s; */

    transform: translate(59px, 0px);

}

#icon-label-github {
    opacity: 0;
    color: var(--black);
    font-family: Reactfont;
    font-size: larger;
    position: absolute;
    
    transition: 0.3s;


    transform: translate(67px, 0px);

}
#icon-label-facebook {
    opacity: 0;
    color: var(--black);
    font-family: Reactfont;
    font-size: larger;
    position: absolute;
    text-align: center;
    transition: 0.5s;

    text-shadow: 0px 0px 5px 5px  var(--black)
   

}


@keyframes labelAnimation {
    0% {
        opacity: 0;
        transform: translate(50px, 20px);
    }

    25% {
        opacity: 0.2;
        transform: translate(90px, 0px);
    }

    
    50% {
        opacity: 0.6;
        transform: translate(0px, -30px) scale(1.1);
    }

    75% {
        opacity: 0.8;
        transform: translate(90px, -40px) scale(1.2);
    }
   
    100% {
        opacity: 1;
        
        transform: translate(59px, -40px) scale(1.5);
    }
}

@keyframes labelAnimation2 {
    0% {

        transform: translate(59px, -40px);
    }

    50% {

        transform: translate(34px, -20px);
    }

    100% {

        transform: translate(62px, 0px);
    }

}

.footer-homepage{
    color:var(--shadow);
}

.name-title{
    text-align: center;
    font-size: 15vh;
    font-family: Reactfont;
    /* font-stretch: ultra-expanded; */
    height:25vh;

    color: var(--green);
}

#m{
    color: var(--red);
    font-size:170px;
    font-family:Pixel;
}

#b{
    color: var(--red);
    font-size:170px;
    font-family:Pixel;
}

#t{
    color: var(--red);
    font-size: larger;
    font-family:Pixel;
}

#o{
    color: var(--red);
    font-size: larger;
    font-family:Pixel;
}

#e{
    color: var(--red);
    font-size: larger;
    font-family:Pixel;
}

#i{
    color: var(--red);
    font-size: larger;
    font-family:Pixel;
}

/* mb ball */
.mb-ball{
    content: url("./img/MB_ball1.png");
    animation: roller 1.2s infinite;
    animation-timing-function: linear;
    
    
}
.mb-ball-container{
    position: absolute;
    animation: translate 12s infinite;
    animation-timing-function: linear;
    height:70px;
    display: flex;
}

.mb-ball-row{
    
    height:70px;
}

@keyframes translate{
    0% {transform: translate(-20vw);}
    100% {transform: translate(110vw);}
}
@keyframes roller {
    100% {rotate: 360deg;}
}

/* esempio su come implementare delle gif */
/* @keyframes roller {
    0% { content: url("./img/MB_ball1.png"); }
    15% { content: url("./img/MB_ball2.png");}
    30% { content: url("./img/MB_ball3.png");}
    45% { content: url("./img/MB_ball4.png");}
    60% { content: url("./img/MB_ball5.png");}
    75% { content: url("./img/MB_ball6.png");}
    90% { content: url("./img/MB_ball7.png");}
    100% { content: url("./img/MB_ball1.png");}
} */

